                            {{ $ratings := .Site.Params.skills.enable_ratings }}
                            <section class="skills-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "skills" }}</h3>

                                {{ range .Site.Params.skills.list }}
                                <div class="item">
                                    <h4 class="item-title">{{ .title }}</h4>
                                    <ul class="list-unstyled resume-skills-list">
                                        {{ range .items }}
                                        <li class="mb-2">
                                            {{ if $ratings }}
                                            {{ if and .rating (le .rating 5) }}
                                             <span class = "resume-rating">
                                                {{ range seq .rating }}
                                                <span class="fa fa-circle checked"></span>
                                                {{ end }}
                                                {{ range after .rating ( seq 5 ) }}
                                                <span class="fa"></span>
                                                {{ end }}
                                             </span>
                                            {{ end }}
                                            {{ end }}
                                            {{ with .details }}{{ . | markdownify }}{{ end }}
                                        </li>
                                        {{ end }}
                                    </ul>
                                </div><!--//item-->
                                {{ end }}

                            </section><!--//skills-section-->
